@import "compass/css3";
$fontFamily: 'STXihei','Microsoft YaHei',sans-serif;
$fontSize: 10px;
html {
    font-family: $fontFamily;
    background-color: #f4f4f4;
    width: 100%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body {
    font-family: $fontFamily;
    position: relative;
    width: 100%;
    @include box-sizing(border-box);
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
    outline: 0;
    box-shadow: 0 0 0;
}

header {
    background-color: #1fe0a7;
    color: #fff;
    height: $fontSize * 4;
    line-height: $fontSize * 4;
    text-align: center;
    font-size: 17px;
}
