@import 'normalize';
@import 'compass/css3';
@import 'elec-logo';
@import 'load';
$fontFamily: sans-serif;
$fontSize: 10px;
// @include font-face('huawenxihei',font-files('huawenxihei.ttf'));
html {
    font-family: $fontFamily;
    background-color: #f4f4f4;
    width: 100%;
    -webkit-user-select:none;
}

body {
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input {
    outline: 0;
    box-shadow: 0 0 0;
}

.loading {
    top: 0;
    left: 0;
}

header {
    position: relative;
    background-color: #1fe0a7;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    span {
        font-size: 17px;
    }
    a {
        position: absolute;
        display: block;
        font-size: $fontSize * 1.5;
        &:first-child {
            background-image: image-url("back-logo.png");
            background-size: 11px 11.5px;
            background-repeat: no-repeat;
            background-position: left center;
            text-indent: $fontSize * 1.5;
            left: $fontSize;
            top: 0;
        }
        &:last-child {
            right: $fontSize;
            top: 0;
        }
    }
}

// #change-dom {
//  display: none;
// }
.set-dom {
    position: relative;
    margin-top: $fontSize * 4;
    width: 100%;
    & > i {
        display: block;
        margin: 0 auto;
    }
}

.dom-form {
    margin: 0 auto;
    margin-top: $fontSize * 4;
}

.dom-form-item {
    position: relative;
    margin-bottom: $fontSize * 1.5;
    text-align: center;
    font-size: 0;
    & > i {
        display: inline-block;
        margin-right: $fontSize * 2.25;
        vertical-align: middle;
    }
    & > input,
    & > div {
        display: inline-block;
        text-align: center;
        width: $fontSize * 21;
        height: $fontSize * 3.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        vertical-align: middle;
        font-size: $fontSize * 1.5;
        background-color: #fff;
        @include box-sizing(border-box);
    }
    & > input {
        &::-webkit-input-placeholder {
            color: #ccc;
        }
        &:-webkit-input-placeholder {
            color: #ccc;
        }
    }
    & > div {
        line-height: $fontSize * 3.5;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    & > ul {
        display: none;
        width: 100%;
        position: absolute;
        left: 50%;
        margin: 0;
        margin-left: -$fontSize * 7.95;
        text-align: center;
        width: $fontSize * 21;
        border-radius: 5px;
        border: 1px solid #ccc;
        vertical-align: middle;
        font-size: $fontSize * 1.5;
        background-color: #fff;
        padding: 0;
        list-style: none;
        z-index: 2;
        li {
            height: $fontSize * 3.5;
            line-height: $fontSize * 3.5;
            background-color: #fff;
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
    }
    & > a {
        display: inline-block;
        text-align: center;
        width: $fontSize * 7.7;
        height: $fontSize * 4;
        line-height: $fontSize * 4;
        color: #fff;
        background-color: #1fe0a7;
        border-radius: 5px;
        font-size: $fontSize * 1.6;
        margin-top: $fontSize * 4;
    }
}

#area {
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: $fontSize * 1.3;
        right: $fontSize * 0.8;
        border-top: 8px solid #bfbfbf;
        border-left: 8px solid rgba(0,0,0,0);
        border-right: 8px solid rgba(0,0,0,0);
        border-bottom: 8px solid rgba(0,0,0,0);
    }
}

.dom-form-item {
    .origin-input {
        color: #ccc;
    }
    .correct-input {
        color: #000;
    }
    .error-input {
        border-color: #eb5053;
        background-color: #ffe9ec;
        color: #eb5053;
        &::-webkit-input-placeholder {
            color: #eb5053;
        }
        &:-webkit-input-placeholder {
            color: #eb5053;
        }
    }

    & > ul {
        .user-choose {
            background-color: #eee;
        }
    }
}

// .loading {
//     display: none;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     background-color: rgba(0, 0, 0, .3);
//     z-index: 2;
//     div {
//         position: absolute;
//         left: 50%;
//         top: 50%;
//         background-color: #fff;
//         border-radius: 5px;
//         padding: $fontSize;
//         @include translate(-50%,
//         -50%);
//         text-align: center;
//         i {
//             display: inline-block;
//             width: $fontSize * 1.75;
//             height: $fontSize * 1.75;
//             border: 5px solid #333;
//             border-radius: 50%;
//             border-left-color: #ccc;
//             @include animation(loading .5s infinite linear);
//         }
//         p {
//             font-size: $fontSize * 1.6;
//             margin: 0;
//             margin-top: 5px;
//         }
//     }
// }

// .loading-info {
//     display: none;
//     span {
//         display: inline-block;
//         background-image: image-url("cross.png");
//         background-repeat: no-repeat;
//         width: $fontSize * 1.75;
//         height: $fontSize * 1.75;
//         background-size: $fontSize * 1.75 $fontSize * 1.75;
//     }
// }

// @include keyframes(loading) {
//     100% {
//         @include rotate(360deg);
//     }
// }
