@charset "utf-8";
@import 'compass/reset';
@import 'compass/css3';
@import 'header';
@import 'load';
@font-face {
    font-family: 'icomoon';
    src: font-url('icomoon.eot');
    src: font-url('icomoon.eot') format('embedded-opentype'), font-url('icomoon.ttf') format('truetype'), font-url('icomoon.woff') format('woff'), font-url('icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

header {
    position: relative;
    & > a {
        display: block;
        position: absolute;
        left: $fontSize * 0.5;
        top: 0;
        height: 100%;
        font-size: $fontSize * 1.5;
        line-height: $fontSize * 4;
        padding-left: $fontSize * 1.5;
        &::before {
            font-family: 'icomoon';
            content: '\e802';
            display: block;
            font-size: $fontSize * 1.5;
            position: absolute;
            left: 0;
            top: 50%;
            @include translateY(-50%);
        }
    }
}

.lib-main {
    @include box-sizing(border-box);
    position: absolute;
    top: 46px;
    bottom: 0;
    width: 100%;
    padding: 0 $fontSize * 1.3;
    // margin-top: $fontSize * 0.6;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;

    #show-table {
    	position: absolute;
    	left: $fontSize * 1.3;
    	right: $fontSize * 1.3;
    	bottom: 0;
    	overflow-y: scroll;
    	margin-top: $fontSize;
    }
}

.book-detail {
	position: relative;
	background-color: #fff;
	padding: $fontSize * 3.2 $fontSize * 2.2;
	font-size: 0;
}

.thumb-window {
	display: inline-block;
	width: 98px / 349px * 100%;
	height: 98px / 349px * 100%;
	min-height: $fontSize * 8;
	// @include box-sizing(border-box);
	padding: $fontSize * 0.8 0;
	text-align: center;
	border: 1px solid #9e9e9e;
	vertical-align: middle;

	& > img {
		width: 100%;
		height: auto;
	}
}

.book-intro {
	margin-left: 22px / 349px * 100%;
	display: inline-block;
	width: 200px / 349px * 100%;
	vertical-align: middle;

	p {
		line-height: 1.2;
		font-size: $fontSize * 1.5;
	}
}

.book-name {
	color: #1fe0a7;
	font-size: $fontSize * 1.8;
	margin-bottom: $fontSize;
}

.book-record {
	width: 100%;
	border-collapse:collapse;

	th,td {
		width: 33.3%;
		text-align: center;
	}

	tr {
		background-color: #e4fbf4;

		td:nth-of-type(1) {
			padding: $fontSize * 0.8 $fontSize * 1.2;
		}
	}

	tr:nth-of-type(1) {
		background-color: #e5e5e5;
		color: #9b9b9b;
		th {
			padding: $fontSize 0;
		}
	}

	tr:nth-of-type(2n) {
		background-color: #fff;
	}
}

.detail-info {
	margin-top: $fontSize * 1.5;
	font-size: $fontSize * 1.5;
	padding: 0 $fontSize * 2.5;
	text-align: center;
}