@import 'compass/reset';
@import 'compass/css3';
@import 'header';
@font-face {
    font-family: 'icomoon';
    src: font-url('icomoon.eot');
    src: font-url('icomoon.eot') format('embedded-opentype'), font-url('icomoon.ttf') format('truetype'), font-url('icomoon.woff') format('woff'), font-url('icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

header {
    position: relative;
    & > a {
        display: block;
        position: absolute;
        left: $fontSize * 0.5;
        top: 0;
        height: 100%;
        font-size: $fontSize * 1.5;
        vertical-align: middle;
        &::before {
            font-family: 'icomoon';
            content: '\e802';
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.lib-main {
    @include box-sizing(border-box);
    position: relative;
    width: 100%;
    padding: 0 $fontSize * 1.3;
}

.search {
    position: relative;
    margin-top: $fontSize;
    font-size: $fontSize * 1.5;
    color: #1fe0a7;
    & > input {
        position: relative;
        height: $fontSize * 3.8;
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        display: block;
        width: 100%;
        text-align: left;
        padding-left: $fontSize * 3.5;
        font-size: $fontSize * 1.5;
        outline: 0;
        line-height: $fontSize * 3.8;
        background-color: #fff;
        @include box-sizing(border-box);
    }
    &::before {
        position: absolute;
        font-family: 'icomoon';
        content: "\e800";
        display: block;
        top: 50%;
        left: $fontSize;
        @include translateY(-50%);
        z-index: 2;
        pointer-events: none;
    }
    &::after {
        position: absolute;
        top: 50%;
        right: 5px;
        @include translateY(-50%);
        font-family: 'icomoon';
        content: "\e801";
        display: block;
        color: #333;
    }
}

.book-result {
	margin-top: $fontSize * 2.5;
	padding: 0 $fontSize * 1.5;
}

.book-item {
	position: relative;
	margin-bottom: $fontSize * 1.5;
	font-size: 0;

	div:nth-of-type(2) {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		color: #282828;
		font-size: $fontSize * 1.8;
		padding-left: $fontSize * 10;
		@include box-sizing(border-box);

		p {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: $fontSize * 1.2 0;
		}
	}
}

.thumb-window {
    @include box-sizing(border-box);
    display: inline-block;
    width: $fontSize * 9;
    height: $fontSize * 9;
    border: 2px solid #c9c9c9;
    margin-right: $fontSize * 2;
    text-align: center;
    padding: $fontSize * 0.5 0;
    background-color: #fff;

    & > img {
        height: 100%;
        width: auto;
    }
}
