@import 'compass/reset';
@import 'compass/css3';
@import 'header';
@import 'load';
@font-face {
    font-family: 'icomoon';
    src: font-url('icomoon.eot');
    src: font-url('icomoon.eot') format('embedded-opentype'), font-url('icomoon.ttf') format('truetype'), font-url('icomoon.woff') format('woff'), font-url('icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lib-main {
	@include box-sizing(border-box);
    position: relative;
    width: 100%;
    padding: 0 $fontSize * 1.3;
}

.search {
    position: relative;
    margin-top: $fontSize;
    font-size: $fontSize * 1.5;
    & > input {
        height: $fontSize * 3.3;
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        display: block;
        width: 100%;
        text-align: left;
        padding-left: $fontSize * 3;
        font-size: $fontSize * 1.5;
        @include box-sizing(border-box);
    }
    & > span {
        display: block;
        position: absolute;
        color: #1fe0a7;
		vertical-align: middle;
        pointer-events: none;
        @include transition(all .5s linear);
        &::before {
            font-family: 'icomoon';
            content: "\e800";
            display: inline-block;
            vertical-align: middle;
            margin: 5px;
        }
    }

    & > i {
        position: absolute;
        right: 5px;
        top: 0;
        width: 30px;
        height: 100%;
        display: none;

        &::before {
            position: absolute;
            top: 50%;
            right: 5px;
            @include translateY(-50%);
            content: "\e801";
            font-family: 'icomoon';
            content: "\e801";
            display: block;
            color: #333;
        }
    }
}

.hint-origin {
    top: 50%;
    left: 50%;
    @include translate(-50%,-50%);
}

.hint-focus {
    top: 50%;
    left: 5px;
    @include translate(0,-50%);
}

.hot-book {
	position: relative;
	margin-top: $fontSize * 5.8;
	padding-top: $fontSize * 2;
	border-top: 1px solid #47deec;
	font-size: 0;

	h2 {
		position: absolute;
		display: inline-block;
		padding: 0 $fontSize * 1.6;
		background-color: #f4f4f4;
		font-size: $fontSize * 1.5;
		color: #47deec;
		left: 50%;
		top: 0;
		@include translate(-50%,-50%);
	}

	& > section {
		margin-right: -$fontSize * 1.1;
	}

	span {
		display: inline-block;
		background-color: #47deec;
		color: #fff;
		font-size: $fontSize * 1.5;
		border-radius: $fontSize * 1.5;
		padding: $fontSize * 0.8 $fontSize * 1.5;
		margin-right: $fontSize * 1.1;
		margin-bottom: $fontSize * 1.3;
	}
}
