@import 'compass/reset';
@import 'compass/css3';
@import 'header';
@import 'load';
@font-face {
    font-family: 'icomoon';
    src: font-url('icomoon.eot');
    src: font-url('icomoon.eot') format('embedded-opentype'), font-url('icomoon.ttf') format('truetype'), font-url('icomoon.woff') format('woff'), font-url('icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    a {
        position: absolute;
        display: block;
        height: 100%;
        line-height: $fontSize * 4;
        top: 0;
        right: $fontSize * 0.8;
        font-size: $fontSize * 1.5;
        &::before {
            content: '\e800';
            font-family: 'icomoon';
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            @include translateY(-50%);
        }
    }
}

.change-build {
	position: absolute;
	width: 100%;
	height: $fontSize * 4;
	color: #fff;
	text-align: center;
	font-size: $fontSize * 1.5;

	& > span {
		position: relative;
		padding: 0 $fontSize * 2;
		line-height: $fontSize * 4;

		&::after {
			content: '\e900';
			font-family: 'icomoon';
			vertical-align: top;
			margin-left: $fontSize * 0.5;
		}
	}

	& > ul {
		position: absolute;
		top: $fontSize * 4;
		text-align: center;
		list-style-type: none;
		width: 100%;
		display: none;

		li {
			position: relative;
			background-color: #1fe0a7;
		}

		.current-build {
			&::after {
				content: '\e901';
				font-family: 'icomoon';
				position: absolute;
				right: $fontSize * 0.8;
			}
		}
	}
}

.choose-time {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #ececec;
	padding: $fontSize * 0.8  0;
	text-align: center;
	@include box-sizing(border-box);
	font-size: 0;

	span {
		display: inline-block;
		width: 25%;
		background-color: #d6d6d6;
		color: #707070;
		font-size: $fontSize * 1.5;
		margin-bottom: $fontSize * 0.5;
		margin-right: $fontSize * 2;
		vertical-align: middle;
		padding: $fontSize * 0.5;
		text-align: left;
		border-radius: $fontSize * 2;

		&:nth-of-type(3),
		&:nth-of-type(6) {
			margin-right: 0;
		}

		&::before {
			content: '';
			display: inline-block;
			width: $fontSize * 2;
			height: $fontSize * 2;
			background-color: #fff;
			border-radius: 50%;
			margin-right: $fontSize;
			vertical-align: middle;
		}
	}

	.current-time {
		&::before {
			background-color: #1fe0a7;
			content: '\e901';
			font-family: 'icomoon';
			color: #fff;
			font-size: $fontSize * 1.2;
			line-height: $fontSize * 2;
			text-align: center;
		}
	}
}

.room-main {
	position: relative;
	overflow-y: scroll;
}

.build-item {
	position: relative;
	border-bottom: 1px solid #ccc;
	text-align: center;

	&:nth-of-type(2n) {
		div:nth-of-type(1),
		div:nth-of-type(3) {
			background-color: #aee3b6;
		}
	}

	div:nth-of-type(1) {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: $fontSize * 4;
		background-color: #9ee0e6;
		vertical-align: middle;
		color: #fff;

		&::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}

	div:nth-of-type(2) {
		// @include display-flex;
		// @include flex-wrap(wrap);
		// @include justify-content(flex-start);
		padding: $fontSize * 2 $fontSize * 2.5 $fontSize * 2 $fontSize * 6.5;
		color: #3f3f3f;
		font-size: 0;
		margin-bottom: -$fontSize * 1.5;
		text-align: left;

		span {
			// font-family: 'Microsoft YaHei',sans-serif;
			font-size: $fontSize * 1.7;
			// margin-right: $fontSize * 1.5;
			margin-bottom: $fontSize * 1.5;
			display: inline-block;
			width: 25%;
			text-align: center;
		}
	}

	div:nth-of-type(3) {
		position: absolute;
		top: 0;
		right: 0;
		width: $fontSize * 0.5;
		height: 100%;
		background-color: #9ee0e6;
	}
}

.no-choice {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: image-url("noChoice.png");
	background-repeat: no-repeat;
	background-size: 175px 240px;
	background-position: center 40%;
	z-index: 2;
	display: none;
	pointer-events: none;
}

.search-room {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	visibility: hidden;

	& > nav {
		position: relative;
		height: $fontSize * 4;
		background-color: #1fe0a7;
		font-size: 0;
		padding-left: $fontSize * 3.2;
		padding-right: $fontSize * 5.5;
		text-align: center;

		& > a {
			position: absolute;
			color: #fff;
			font-size: $fontSize * 2;
			top: 0;
			left: 0;
			height: 100%;
			&::before{
				content: '\e802';
				font-family: 'icomoon';
				display: block;
				position: absolute;
				top: 50%;
				left: 5px;
				@include translateY(-50%);
			}

			&::after {
				font-size: $fontSize * 1.5;
				content: '\e800';
				font-family: 'icomoon';
				display: block;
				position: absolute;
				top: 50%;
				left: $fontSize * 4;
				@include translateY(-50%);
				color: #1fe0a7;
			}
		}

		& > input {
			border: 1px solid #ccc;
			outline: 0;
			display: inline-block;
			width: 100%;
			height: $fontSize * 2.8;
			vertical-align: middle;
			border-radius: 5px;
			font-size: $fontSize * 1.5;
			@include box-sizing(border-box);
			padding-left: $fontSize * 2.8;

			&::-webkit-input-placeholder {
				color: #1fe0a7;
			}

			&:-moz-placeholder  {
				color: #1fe0a7;
			}
		}

		& > span {
			color: #fff;
			position: absolute;
			top: 50%;
			@include translateY(-50%);
			right: $fontSize * 1.5;
			font-size: $fontSize * 1.5;
		}

		&::after {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}

	& > div {
		overflow-y: scroll;
	}
}

.room-result {
	background-color: rgba(0,0,0,0.6);
	padding: $fontSize * 2 0 0 $fontSize * 1.8;
}

.result-item {
	color: #fff;
	h3 {
		font-size: $fontSize * 4;
		margin-bottom: $fontSize;

	}
}

.info-item {
	font-size: 0;
	padding-bottom: $fontSize * 2;

	& > span,
	& > div {
		display: inline-block;
		font-size: $fontSize * 1.5;
		vertical-align: top;

		span {
			margin-right: $fontSize;
			margin-bottom: $fontSize;
		}

		p {
			@include display-flex;
			@include justify-content(space-between);
		}
	}

	& > span {
		width: 25%;
		min-width: $fontSize * 7.5;
	}

	&:nth-of-type(1) > div {
		width: 70%;

		span {
			margin-bottom: 0;
			line-height: 1.2;
		}
	}
}