@import 'normalize';
@import 'compass/css3';
$fontFamily: sans-serif;
$fontSize: 10px;
html {
    font-family: $fontFamily;
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
}

* {
    -webkit-user-select:none;
    -webkit-touch-callout:none;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input {
    outline: 0;
    box-shadow: 0 0 0;
}

header {
    position: relative;
    background-color: #1fe0a7;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    span {
        font-size: 17px;
    }
    a {
        position: absolute;
        display: block;
        font-size: $fontSize * 1.5;
        &:first-child {
            background-image: image-url("back-logo.png");
            background-size: 11px 11.5px;
            background-repeat: no-repeat;
            background-position: left center;
            text-indent: $fontSize * 1.5;
            left: $fontSize;
            top: 0;
        }
        &:last-child {
            right: $fontSize;
            top: 0;
        }
    }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 2;
    div {
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: #fff;
        border-radius: 5px;
        padding: $fontSize;
        @include translate(-50%,
        -50%);
        text-align: center;
        i {
            display: inline-block;
            width: $fontSize * 1.75;
            height: $fontSize * 1.75;
            border: 5px solid #333;
            border-radius: 50%;
            border-left-color: #ccc;
            @include animation(loading .5s infinite linear);
        }
        p {
            font-size: $fontSize * 1.5;
            margin: 0;
            margin-top: 5px;
        }
    }
}

.show-elec {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    //left: 100%;
    // z-index: 3;
    background-color: #fff;
    text-align: center;
    // @include transition(all .5s ease-in);
    & > p {
        margin-bottom: $fontSize * 2.5;
        font-size: $fontSize * 1.4;
        &:nth-of-type(2) {
            text-align: left;
            margin-left: $fontSize;
            margin-bottom: 0;
        }
    }
    .average-elec {
        border-top: 1px solid #bebebe;
        border-bottom: 1px solid #bebebe;
        font-size: $fontSize * 1.4;
        span {
            display: inline-block;
            font-size: $fontSize * 2.25;
            color: #ff9600;
            margin-top: $fontSize * 0.4;
        }
    }
    & > a {
        position: absolute;
        display: block;
        bottom: 0;
        color: #fff;
        font-size: $fontSize * 1.6;
        left: 50%;
        @include translate(-50%,
        -50%);
        background-color: rgba(0,0,0,.5);
    }
}

.loading-data {
    visibility: hidden;
}

#surplus-elec {
    width: $fontSize * 10.5;
    height: $fontSize * 10.5;
    margin: $fontSize * 2.5 auto;
    position: relative;
    border: $fontSize * 0.9 solid #d6d6d6;
    border-radius: 50%;
    text-align: center;
    canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%,
        -50%);
    }
    p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%,
        -50%);

        span {
            display: block;
        }
    }
}

#surplus-number {
    font-size: $fontSize * 4;
    font-weight: bold;
    color: #000;
    &::after {
        content: "kw-h";
        display: block;
        font-size: $fontSize * 1.5;
        font-weight: normal;
        color: #d6d6d6;
    }
}

#elec-trend {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

@include keyframes(loading) {
    100% {
        @include rotate(360deg);
    }
}
